*{
    box-sizing: border-box;
    font-family: verdana;
}
main{
    margin-bottom: 40px;

}

body{
    background-color: #E0F7FA;
    transition: .5s ease all;   /* loop */
}

.dark {
    background-color: #111111;
  box-shadow: 10px 10px 20px rgba(0,0,0,.16);
  transition: .5s ease all;
  color: white;
}