<head>
    <link rel="stylesheet" href="/stylesheet/agregarPost.css">
    <title><%= title %></title> 
</head>
<header>
    <%-include('./partials/header')%>
 </header>
<main>
    <main>
        <div class="uk-section uk-section-small">
            <div class="uk-container uk-container-large uk-flex">
                <form action="">
                    <h2>Agregá un post!</h2>
                    <label for="postpic">Imágen:</label><br>
                    <input type="file" name="" id=""><br>
                    <label for="titulo">Título del post:</label><br>
                    <input type="text"><br>
                    <label for="postname">Epígrafe:</label><br>
                        <input type="text"><br>
                </form>

            </div>
        </div>
    </main>
</main>
 <footer>
    <%-include('./partials/footer')%>
</footer>