<head>
    <link rel="stylesheet" href="/stylesheet/agregarPost.css">
    <title><%= title %></title> 
</head>
<header>
    <%-include('./partials/header')%>
 </header>
<main>
    <main>
        <div class="uk-section uk-section-small">
            <div class="uk-container uk-container-large uk-flex">
                <form action="">
                    <h2>(Formulario para agregar un post)</h2>

                </form>

            </div>
        </div>
    </main>
</main>
 <footer>
    <%-include('./partials/footer')%>
</footer>