<!DOCTYPE html>
<html lang="en">
<head>
     <!-- UIkit CSS -->
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/css/uikit.min.css" />
    <!-- UIkit JS -->

     <!-- UIkit JS -->
     <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/js/uikit.min.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/js/uikit-icons.min.js"></script>
    <!-- UIkit JS -->
     
     <!-- Kit modo oscuro -->
    <script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>
     <!-- Kit modo oscuro -->

     <link rel="stylesheet" href="/stylesheets/futuroHome.css">
    <link rel="stylesheet" href="/stylesheets/header.css">
    
    </head>
    <body>
        <header class="uk-background-primary">
            <section class=" uk-container uk-container-large">
                <div class="">
                    <nav class="" uk-navbar>
                        <div class="uk-navbar-left">
                           <h2 class="logo"><a href="/">Acqua</a></h2>
                        </div>
                    </nav>
                </div>
            </section>
        </header>
        <main > 
            <div class="titulo">
            <h1>Conectate con tus amigos</h1>
      </div>
        <br>
        <br>
            <div class="todo" >
             <div class="l">
                 <a href="">
            <h2>
                Iniciar sesion
            </h2>
        </a>
        </div>
        <div class="r">
            <a href="">
                <h2>
                Registrarse
            </h2></a>
        </div>
           </div>
           
        
    </main>
       <footer>
        <%-include('./partials/footer')%>
    </footer>
        </body>