<head>
    <link rel="stylesheet" href="/stylesheet/login.css">
    <title><%= title %></title> 
</head>
<header>
    <%-include('./partials/header')%>
 </header>
<main>
    <main>
        <div class="uk-section uk-section-small">
            <div class="uk-container uk-container-large uk-flex uk-flex-middle uk-flex-center">
                <form action="">


                    <h2>(Formulario de login)</h2>
                
                
                </form>
            </div>
        </div>
    </main>
</main>
 <footer>
    <%-include('./partials/footer')%>
</footer>