<head>
    <link rel="stylesheet" href="/stylesheet/login.css">
    <title>Login</title> 
</head>
<header>
    <%-include('./partials/header')%>
 </header>
<main>
    <main>
        <div class="uk-section uk-section-small">
            <div class="uk-container uk-container-large uk-flex uk-flex-middle uk-flex-center">
                <form action="/ingreso/login"  method="POST">


                    <h2>Logeate!<h2>
                    <form action="">
                    <label for="login">Email:</label><br>
                    <input type="email" name="email" required="required"><br>
                    <label for="login">Contraseña:</label><br>
                    <input type="password" name="contrasena" required="required"><br>
                   Recordar <input type="checkbox" name="rememberme" >
                    <br><input type="submit"><br>

                    <label for="olvide">Olvidé mi contraseña</label><br>
                    <input type="button" value="Reiniciar contraseña">



                    </form>
                
                
                </form>
            </div>
        </div>
    </main>
</main>
 <footer>
    <%-include('./partials/footer')%>
</footer>