<head>
    <link rel="stylesheet" href="/stylesheet/registracion.css">
    <title>Registracion</title> 
</head>
<header>
    <%-include('./partials/header')%>
 </header>
<main>
    <div class="uk-section uk-section-small">
        <div class="uk-container uk-container-large uk-flex uk-flex-middle uk-flex-center">
            <form action="/ingreso/registro" method="POST">
                
                
                <h2>Formulario de registraci칩n</h2>
                <% if ( mensaje != false) { %>
                <h4 style="color:red;"> <%= mensaje %> </h4>
                <% } else {%>
                <% } %>
                
                <label for="nombre">Nombre:</label><br>
                <input type="text" name="nombre" id="nombre" placeholder="Lautaro" required="required"><br>
                <label for="apellido">Apellido:</label><br>
                <input type="text" name="apellido" id="apellido" placeholder="Ortiz" required="required"><br>
                <label for="email">Email:</label><br>
                <input type="text" name="email" id="email" placeholder="lauti@gmail.com"><br>
                <label for="username">Nombre de usuario:</label><br>
                <label for="contrase침a">Contrase침a:</label><br>
                <input type="password" name="contrasena" id="contrasena" placeholder="Pon una contrase침a"><br>
                <label for="username">Nombre de usuario:</label><br>
                <input type="text" name="username" id="username" placeholder="ortizlautaro" required="required"><br>
                <label for="apodo">Lema:</label><br>
                <input type="text" name="lema" id="lema" placeholder="Pon un lema"><br>

                    <label for="cumpleanos">Fecha de nacimiento:</label><br>
                    <input type="date" required="required" name="cumpleanos"><br>
                    <br>
                    <button type="submit">Registrarse</button>
            </form>
        </div>
    </div>
</main>
 <footer>
    <%-include('./partials/footer')%>
</footer>