<head>
    <link rel="stylesheet" href="/stylesheet/registracion.css">
    <title><%= title %></title> 
</head>
<header>
    <%-include('./partials/header')%>
 </header>
<main>
    <div class="uk-section uk-section-small">
        <div class="uk-container uk-container-large uk-flex uk-flex-middle uk-flex-center">
            <form action="">
                
                <h2>(Formulario de registración)</h2>
                <label for="nombre">Nombre:</label><br>
                <input type="text" name="nombre" id="nombre"><br>
                <label for="apellido">Apellido:</label><br>
                <input type="text" name="apellido" id="apellido"><br>
        
            </form>
        </div>
    </div>
</main>
 <footer>
    <%-include('./partials/footer')%>
</footer>