<head>
    <link rel="stylesheet" href="/stylesheet/resultadoBusqueda.css">
    <title><%= title %></title> 
</head>
<header>
    <%-include('./partials/header')%>
 </header>
<main>


    
</main>
 <footer>
    <%-include('./partials/footer')%>
</footer>