<head>
    <link rel="stylesheet" href="/stylesheet/resultadoBusqueda.css">
    <title>Resultado de busqueda</title> 
</head>
<header>
    <%-include('./partials/header')%>
 </header>
<main>
    <div class="uk-section uk-section-small">
        <div class="uk-container uk-container-large uk-flex uk-flex-middle uk-flex-center">
           
         <div> <h1>Resultado de busqueda:</h1> </div> <br><br><br>
         <div>
           <ul>
               <% for (let i = 0; i<resultados.length; i++) { %>
                <li>  <a href="/info/detalleUsuario/<%= resultados[i].nombre %>"><%= resultados[i].nombre %></a> </li>  
               <% } %>  
           </ul></div>

        </div>
    </div>
</main>
 <footer>
    <%-include('./partials/footer')%>
</footer>